<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czsm.DD_driver">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <!-- This app has permission to register and receive dataf message. -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo01copy"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AllinAllMaterialTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AllinAllMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".activities.ValidateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ServiceProviderSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ServiceProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProviderBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserBookingHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VerifyOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserOngoingBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BookServiceMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OngoingAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BookmapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyDK8-PV7Lc0iQVsi5IA-dj0N6COnRqNgh8" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCp-kY4JQkP6rHt1s8PPJS0q5XQU9EfLV4" />

        <!-- <activity -->
        <!-- android:name="com.czsm.driverin.activities.BookServiceMapActivity" -->
        <!-- android:label="@string/title_activity_service_details_map" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activities.TariffPlanActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.NotificationBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="allinallapp.NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.czsm.driverin" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pushbots.push.DefaultPushHandler"
            android:process=":pushProcess" />
        <receiver
            android:name=".receiver.PushNotificationReceiver"
            android:process=":pushProcess" />

        <service android:name=".gcm.GCMIntentService" />
        <service
            android:name=".Service.CapPhoto"
            android:enabled="true" />

        <receiver android:name=".Service.MyBroadcastReceiver" />

        <!-- <service android:name="com.czsm.driverin.receiver.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <service android:name="com.czsm.driverin.receiver.MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".activities.CurrentReqActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlertActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>